.img-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 5px;
    height: 250px;
}


.img1 {
    background-image: url(/last/images/choo1.png);
    background-size: 100% 100%;

}

.img2 {
    background-image: url(/last/images/choo2.png);
    background-size: 100% 100%;
}

.img3 {
    background-image: url(/last/images/choo3.png);
    background-size: 100% 100%;
}

.img4 {
    background-image: url(/last/images/choo4.png);
    background-size: 100% 100%;
}

.img5 {
    background-image: url(/last/images/choo5.png);
    background-size: 100% 100%;
}